#about-us {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/texture_wall_black.jpg');

  background-size: cover;
}

#about-us h1 {
    font-size: 5rem;
    margin-bottom: 40px;

    color: white;
}

.img-box img{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid rgb(3, 3, 90);;   
}

.about-us-links {
    display: flex;
    align-self: flex-end;
}

.about-us-links a {
    display: flex;
}

.about-us-links img {
    margin-right: 15px;
    height: 40px !important;
    cursor: pointer;
}

.swiper {
  width: 90%;
  height: 70%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 50px;

    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}
.swiper-slide h3 {
    font-size: 2.4rem;
    color: rgb(3, 3, 90);
}
.swiper-slide p {
    font-size: 2rem;
    text-align: justify;
    color: rgb(3, 3, 90);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.swiper-button-next:after, .swiper-button-prev:after {
    opacity: 0.0;
}

.swiper-button-next:after:hover {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    .swiper {
        width: 80%;
    }

    .swiper-slide {
        padding: 30px;
    }

    .swiper-slide p {
        font-size: 1.8rem;
    }
}