.Contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-size: cover;
}
.contact-header {
    font-size: 6rem;
    color: orangered;
    margin-left: 8rem;
    margin-top: 4rem;
}
@media only screen and (max-width: 1400px) {
    .contact-header {
        font-size: 4rem; 
    }
  }
.Background-contact {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
   
    background-image: url('../assets/contact.png');
    background-size: cover;
}

.Center-contact {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
}
.left-side-contact {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    
       
}
h3 {
    margin-top: 6rem;
    margin-left: 8rem;
    font-size: 3.4rem;
    color: rgb(192, 192, 192);
}
@media only screen and (max-width: 1400px) {
    h3 {
        font-size: 2rem; 
    }
  }
h4 {
    margin-top: 6rem;
    margin-left: 8rem;
    font-size: 3rem;
    color: darkgrey;
}
@media only screen and (max-width: 1400px) {
    h4 {
        font-size: 2rem; 
    }
  }
.emailOrg {
    margin-top: 3rem;
}

.send-email {
    margin-left: 8rem;
    font-size: 3rem;
    color: darkgrey;
    
}
@media only screen and (max-width: 1400px) {
    .send-email {
        font-size: 2rem; 
    }
  }
.logos {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
   
}
.logo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
}

img {
    width: 5rem;
    margin-left: 8rem;
    margin-top: -1rem;
    padding: 0.4rem;
 
}

.github {
    height: 5rem;
    justify-content: center;
    font-size: 3rem;
    color: darkgrey;
}
@media only screen and (max-width: 1400px) {
    .github {
        font-size: 2rem; 
    }
  }
.logo2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    padding: 0.4rem;
}
img {
    width: 5rem;
 
}
.linked {
    height: 5rem;
    justify-content: center;
    font-size: 3rem;
    color: darkgrey;
}
@media only screen and (max-width: 1400px) {
    .linked {
        font-size: 2rem; 
    }
  }

.right-side-contact {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    
}
.QR {
    width: 20rem;
    margin-top: 30rem;
    margin-left: auto;
    background-color: orangered;
    border-radius: 20px;
    border: solid 1rem darkgray;
}