#contact {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 61, 110);
    background-image: url('../../assets/mapa-natal.png');

  background-size: cover;
}

#contact h1 {
    color: rgb(0, 61, 110);
    font-size: 3rem;
}
.center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 60%;
    background-color: rgba(0, 60, 110, 0.697);
    border-radius: 25px;
    padding: 60px;
    color:rgb(255, 255, 255)

} 
.left {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.name {
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(169, 216, 255);
}

.number {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.email {
    all:unset;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
}
.email:hover {
    color:rgb(0, 61, 110);
}
.github {
    all:unset;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
}
.github:hover {
    color:rgb(0, 61, 110);
}
.linked {
    all:unset;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
}
.linked:hover {
    color:rgb(0, 61, 110);
}
.free {
    font-size: 1.5rem;
    margin-left: 10rem;
    transform: rotate(-15deg);
    color:rgb(255, 221, 0)
}
.right {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.data-info-2 {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-top: 50%;
    margin-bottom: 20px;
    margin-left: 60%;
    transform: rotate(10deg);
}
.QRCode-2 {
    width: 30%;
    margin-left: 57%;
    filter: drop-shadow(0px 20px 20px rgba(43, 41, 41, 0.9));
    transform: rotate(10deg);
    
}