.Home {
 display: flex;
 flex-direction: column;

 width: 100vw;
 height: 100vh;

 background-color: rgb(42, 42, 42);

 align-items: center;
 justify-content: center;
}
.HomeContainer {
  width: 120rem;
  height: 100vh;

  background-color: rgb(26, 26, 26);
  background-image: url('../../assets/jorg-background-graylight.png');
  background-size: contain;
  background-repeat: no-repeat;
  
  
}
.HOmeData {
  align-items: center;
  justify-content: center;
}
.Welcome {
  font-family: 'Petemoss', cursive;
  font-size: 6rem;
  font-weight: 100;
  
  margin-top: 20rem;
  margin-left: 6rem;
  color: white;
}
.Job {
  font-family: 'Cagliostro', sans-serif;
  font-size: 5rem;
  font-weight: 100;
  
  margin-top: -6rem;
  margin-left: 20rem;
  color: orangered;
}

.HomeLinks {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  margin-top: 50rem;
  gap: 4rem;
}
.Mail {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  width: 10rem;

  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;

  background-color: rgba(240, 248, 255, 0.051);
  border-radius: 4rem;

  cursor: pointer;
}
.Mail:hover {
  background-color: orangered;
}
.Whats {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  width: 10rem;

  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;

  background-color: rgba(240, 248, 255, 0.051);
  border-radius: 4rem;

  cursor: pointer;
}
.Whats:hover {
  background-color: orangered;
}
.Resume {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  width: 10rem;

  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;

  background-color: rgba(240, 248, 255, 0.051);
  border-radius: 4rem;

  cursor: pointer;
}
.Resume:hover {
  background-color: orangered;
}
.Git {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  width: 10rem;

  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;

  background-color: rgba(240, 248, 255, 0.051);
  border-radius: 4rem;

  cursor: pointer;
}
.Git:hover {
  background-color: orangered;
}
.Linked {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  width: 10rem;

  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;

  background-color: rgba(240, 248, 255, 0.051);
  border-radius: 4rem;

  cursor: pointer;
}
.Linked:hover {
  background-color: orangered;
}