.Header {
 display: flex;
 flex-direction: row;
 position: fixed;

 width: 100vw;
 align-items: center;
 justify-content: center;
}
.HeaderContainer {
  display: flex;
  flex-direction: row;

  height: 5rem;
  text-align: center;
  align-items: center;
}
.LinksHeader {
  display: flex;
  flex-direction: row;
  
  height: 4rem;
  gap: 4rem;
  padding: 0.2rem 14.2rem 0.2rem 14.2rem;
  border-radius: 4rem;
  background-color: rgba(39, 39, 39, 0.8);
}
.HeaderHome {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;

  color: white;
  cursor: pointer;
}
.HeaderHome:hover {
  color: orangered;
}
.HeaderWork {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;

  color: white;
  cursor: pointer;
}
.HeaderWork:hover {
  color: orangered;
}
.HeaderEducation {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;

  color: white;
  cursor: pointer;
}
.HeaderEducation:hover {
  color: orangered;
}
.HeaderContact {
  all: unset;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 100;

  color: white;
  cursor: pointer;
}
.HeaderContact:hover {
  color: orangered;
}