.Header-Container-main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
}
.Header-Linke-Seite {
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 100vh;
}
.Header-Mittel-Seite {
    display: flex;
    flex-direction: row;
    width: 49rem;
    height: 100vh;
  }
.Header-Rechte-Seite {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 128, 0);
    width: 10rem;
    height: 100vh;
    margin-bottom: 2rem;
    gap: 3rem;
    margin-left: 0rem;
    align-items: center;
   }
  .Header-Links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 2rem;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
}
  .Casa-Header {
    width: 4rem;
  }
  .Casa-Header:hover {
    transform: rotate(10deg);
  }
  .Ma-Header {
    width: 4rem;
  }
  .Ma-Header:hover {
    transform: rotate(10deg);
  }
  .Log-Header {
    width: 4rem;
  }
  .Log-Header:hover {
    transform: rotate(10deg);
  }
  .Des-Header {
    width: 4rem;
  }
  .Des-Header:hover {
    transform: rotate(10deg);
  }
  .Dev-Header {
    width: 4rem;
  }
  .Dev-Header:hover {
    transform: rotate(10deg);
  }
  .Eu-Header {
    width: 4rem;
  }
  .Eu-Header:hover {
    transform: rotate(10deg);
  }
  .Contact-Header {
    width: 4rem;
  }
  .Contact-Header:hover {
    transform: rotate(10deg);
  }
  .Linked-Header {
    width: 4rem;
  }
  .Linked-Header:hover {
    transform: rotate(10deg);
  }
  
