.nav-icon img {
  height: 40px;
  position: fixed;
  top: 0rem;
  right: 1rem;
  z-index: 30;
  cursor: pointer;
}
@media only screen and (max-width: 1400px) {
  .nav-icon img  {
    height: 30px;
  }
}

.nav-menu {
  background-color: rgba(40, 40, 40, 0.5);
  width: 100vw;
  height: 4rem;
  display: flex;
  position: fixed;
  top: 0rem;
  right: 100vw;
  transition: 250ms;
  z-index: 20;
}


.nav-menu.active {
  right: 0px;
  transition: 250ms;
}

.nav-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.nav-menu-items .links-header {
  padding: 1rem 1rem;
}

.nav-menu-items .links-header:first-child {
  margin-top: 3rem;
}

a {
  text-decoration: none;
  font-size: 2.4rem;
  margin-right: 2rem;
  margin-left: 2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
@media only screen and (max-width: 1400px) {
  a {
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
a:hover {
  color: rgb(0, 153, 255);
}

.nav-menu span {
  cursor: pointer;
  position: absolute;
  right: 1.8rem;
  top: 0.8rem;
  color: rgba(0, 0, 0, 0);
  font-size:2.4rem;
}

.nav-menu span:hover {
  color: rgba(146, 146, 146, 0);
}