#about {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 9, 24);
    background-image: url('../../assets/wall-dark.png');

  background-size: cover;
}

#about h1 {
    font-size: 4rem;
    margin-bottom: 40px;

    color: white;
}
.img-box .foto-J {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20%;
    border: 1px solid rgb(0, 0, 0);;   
}
.img-box .foto{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);;   
}
.img-box .foto-C {
    width: 300px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);;   
}
.img-box .foto-P {
    width: 350px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);;   
}
.about-us-links {
    display: flex;
    align-self: center;
}

.about-us-links img {
    margin-right: 5px;
    height: 4vh !important;
    cursor: pointer;
}
.Documents {
    display: flex;
    gap: 20px; 
}
.English {
    all:unset;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(3, 46, 82);
    color:white;
    cursor: pointer;
   
}
.English:hover {
    background-color: rgb(9, 120, 211);
}
.Portugues {
    all:unset;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(3, 46, 82);
    color:white;
    cursor: pointer;
}
.Portugues:hover {
    background-color: rgb(9, 120, 211);
}
.swiper {
  width: 90%;
  height: 80%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;

    padding: 40px;

    background-color: rgba(97, 95, 94, 0.7);
    border-radius: 25px;
}
.swiper-slide h3 {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.swiper-slide p {
    width: 90%;
    font-size: 1.5rem;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.swiper-slide .dark {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.swiper-button-next:after, .swiper-button-prev:after {
    color:rgb(3, 46, 82);
    background-color:rgb(255, 255, 255);
    padding:7px 16px 5px 16px;
    border-radius: 50%;
    
}

.swiper-button-next:after:hover {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    .swiper {
        width: 80%;
    }

    .swiper-slide {
        padding: 30px;
    }

    .swiper-slide p {
        font-size: 1.2rem;
    }
}
.ende {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.feil img{
    width: 30px;
    margin-left: 90vw;
}

