.Portfolio {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  
  background-image: url('../assets/marmorBack.png');
  background-size:cover;
  
  align-items: center;
  justify-content: center;
}

.PortfolioHeader {
  display: flex;
  flex-direction: row;

  height: 90%;
  width: 70rem;

  background-color: #bbbbbb;

  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgb(37, 37, 37);
 
}
.PortfolioLeft {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/engrenagem.png');
  width: 15rem;
  background-color: rgb(212, 164, 5);
  }
  .JorgB {
      width: 15rem;
      height: 15rem;
      background-color: #838383;
      margin-bottom: 4rem;
  }
  .PortfolioNaveBar {
      display: flex;
      flex-direction: column;
      height: 85%;
      gap: 1rem;
      align-items: center;

}
.PortfolioPortfolio {
  all: unset;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0.5rem;
  background-color: rgb(212, 164, 5);
  border: solid 0.01rem black;
  width: 10rem;
  cursor: pointer;
  color: #838383;
}
.PortfolioHome, .PortfolioAbout, .PortfolioResume, .PortfolioContact {
  all: unset;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0.5rem;
  background-color: rgb(212, 164, 5);
  border: solid 0.01rem black;
  width: 10rem;
  cursor: pointer;
}
.PortfolioHome:hover, .PortfolioPortfolio:hover, .PortfolioResume:hover, .PortfolioPortfolio:hover, .PortfolioContact:hover {
  opacity: 30%;
}
.PortfolioRight {
  display: flex;
  flex-direction: column;

  width: 55rem;

  align-items: center;
  justify-content:space-evenly;
}
.PortfolioTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  padding: 1rem 10rem 1rem 10rem;
  border: solid 0.1rem gray;
  margin-bottom: 0rem;
  background-color: rgb(212, 164, 5);
  }
  .PortfolioBoxes {
    display: flex;
    flex-direction: row;
    }
    .PortfolioLine1, .PortfolioLine2, .PortfolioLine3 {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
}

.PorfolioImg {
  width: 12rem;
  height: 8rem;
}