.German {
    display: flex;
    flex-direction: column;
  
    width: 100vw;
    height: 260vh;
  
    background: linear-gradient(to right, #4e032f 30%, #003f64 100%);
    
    align-items: center;
    justify-content: center;
  }
    @media only screen and (max-width: 1000px) {
    .German {
      height: 400vh;
     }}
.GermanContainer {
    display: flex;
    flex-direction: row;
    
    width: 90%;
    height: 100%;
    margin-top: 7rem;
    margin-bottom: 4rem;
    background-color: rgb(4, 21, 48);
    /* box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 225, 255, 0.76); */
    border-radius: 1rem;
    align-items:center;
    justify-content: center;
   
  }
  @media only screen and (max-width: 1000px) {
    .GermanContainer {
      flex-direction: column;
      height: 160%;
     }}

  .GLeftContainer {
    display: flex;
    flex-direction: column;
    
    width: 40rem;
  
   
    align-items:center;
    justify-content: center;

  }
  .GJorg {
    width: 30rem;
    margin-bottom: 10rem;
    margin-top: -5rem;
  }
  .GText {
    display: flex;
    flex-direction:column;
    
    width: 30%;
    margin-top: -5rem ;
    align-items:center;
    justify-content: center;
  }
  .GName {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4rem;
    color: white;
    width: 40rem;
    text-align: left;
    margin-left: 14rem;
  }
  .GWork {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4rem;
    color: #be5f97;
    margin-bottom: 0rem;
    margin-left: 14rem;
    width: 40rem;
    text-align: left;
  }
  .GWorkI {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
    color: #be5f97;
    margin-top: -0rem;
    margin-left: 14rem;
    width: 40rem;
    text-align: left;
  }
  .GWorkII {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3rem;
    color: #10529c;
    margin-top: 1rem;
    margin-left: 14rem;
    width: 40rem;
    text-align: left;
  }
  .GWorkIII {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3rem;
    color: #1583b6;
    margin-top: 0rem;
    margin-left: 14rem;
    width: 40rem;
    text-align: left;
  }
  .GWorkIV {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
    color: #1583b6;
    margin-top: -2rem;
    margin-left: 14rem;
    width: 40rem;
    text-align: left;
  }
  .GRightContainer {
    display: flex;
    flex-direction: column;
    
    width: 70%;
    padding-left: 5%;
    align-items:left;
    justify-content: center;
  }
  .EngResume {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 
  }
  .Resume {
    all: unset;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.4rem;
    width: 30rem;
    padding:0.5rem 1rem 0.5rem 1rem;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #052753 30%, #003f64 100%);
    border-radius: 1rem 1rem 1rem 1rem;
    margin-right: 5rem;
    margin-top: -5rem;
    cursor: pointer;
  }
  .Resume:hover {
    opacity: 60%;
  }
  .GBem {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4rem;
    color: white;
   
  }
  .GText-Right {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: justify;
    
    padding-right: 5%;
  }
  .GSecond {
    display: flex;
    flex-direction: row;
    
    width: 95%;
    gap: 5rem;
    align-items:center;
    justify-content: center;
  }
  @media only screen and (max-width: 1000px) {
    .GSecond {
      flex-direction: column;
     }}
  .GAgile {
    background-color: white;
    border-radius: 2rem;
    border-radius: 50%;
    border: solid 1rem rgb(53, 148, 226);
  }
  .GText-Agile {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: justify;
   
  }
.GBodenContainer {
  display: flex;
  flex-direction: column;
  
  width: 90%;
  height: 120%;
  margin-top: -2rem;
  margin-bottom: 4rem;
  background-color: rgb(4, 21, 48);
  /* box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 225, 255, 0.76); */
  border-radius: 1rem;
  align-items:left;
  
   
}
.GDesign {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 4rem;
  color: #10529c;
  margin-left: 9%;
}
.GText-Design {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  color: white;
  text-align: justify;
  padding-left: 9%;
  padding-right: 5%;
}
.GSome-Design {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  color: white;
  text-align: justify;
  padding-left: 9%;
  padding-right: 5%;
}
.GCards {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 750px) {
  .GCards {
    flex-direction: column;
   }}
.Amarals {
  width: 28%;
  background-color: #1583b6;
  padding: 1rem;
  border-radius: 2rem;
}
.Condo {
  width: 28%;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #1583b6;
}
.Acera {
  width: 28%;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #1583b6;
}
.GClient {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  color: white;
  text-align: justify;
  padding-left: 9%;
  padding-right: 5%;
  margin-bottom: 4rem;
}
.GBodenImages {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 750px) {
  .GBodenImages {
    flex-direction: column;
   }}
.GClients {
  height: 5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.GBodenImagesII {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 750px) {
  .GBodenImagesII {
    flex-direction: column;
   }}
.GClientsII {
  height: 5rem;
  border-radius: 1rem;
}