.Work {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 120vh;

  align-items: center;
  
  background-color: rgb(27, 60, 93);
  background-image: url('../../assets/BackGround.png');
  background-size: cover;
}
.WorkContainer {
  display: flex;
  flex-direction: column;

  width: 100rem;
  height: 100%;

  margin-top: 12rem;
  margin-left: 2rem;

  align-items: left;
}

.WorkResponsText {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: orangered;
  
  margin-top: -4rem;
  margin-bottom: -2rem;
}
.WorkBoxesText {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  width: 94rem;
  text-align: justify;
  color: rgb(255, 255, 255);

}
.WorkContainer2 {
  display: flex;
  flex-direction: column;
  
  align-items: left;
  
}
.WorkMRespons {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin-top: 0rem;
  text-align: justify;
  color: orangered;
}
.Workdivide {
  display: flex;
  flex-direction: row;
  width: 100rem;
  gap: 4rem;
  align-items: center;
  margin-top: -4rem;
}
.MGR {
  width: 40rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.WorkText {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  width: 50%;
  text-align: justify;
  color: rgb(255, 255, 255);
}