.Education {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 150vh;

  align-items: center;
  
  background-color: rgb(42, 42, 42);
}
.EducationContainer {
  display: flex;
  flex-direction: column;
  
  width: 120rem;
  height: 100%;
  
  background-image: url('../../assets/BackGround.png');
  background-size: cover;
  align-items: left;
}
.EduTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

}
.EduHigh {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  width: 90rem;
  
  text-align: left;
  margin-left: 0rem;
  color: orangered;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.UniKoln {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 3rem;
}
.Uni {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: -2rem;
  margin-right: 10rem;
}
.UniUrk {
  width: 20rem;
}
.UniUrkb {
  width: 20rem;
}
.Hum {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;
}
.Humboldt {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: 4rem;
}
.HumboldtB {
  width: 20rem;
}
.HumboldtA {
  width: 20rem;
}

.PCD {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: -2rem;
  margin-left: -75rem;
}
.Cub {
  display: flex;
  flex-direction: row;
  align-items: center;
 
  gap: 3rem;
}
.Cubos {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: 0rem;
  margin-right: 18rem;
}
.CubosA {
  width: 20rem;
}
.CubosB {
  width: 20rem;
}
.EB {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
  margin-left: -23rem;
  gap: 3rem;
}
.Google {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
  margin-right: 29rem;
 
}
.Ebac {
  width: 20rem;
}
.Languages {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-left: -76rem;
  color: orangered;
  margin-top: 6rem;
    
}
.Deutsch {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: 0rem;
  margin-right: 0rem;
}
.English {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top:-3rem;
  margin-right: 0rem;
}
.Portugues{
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: -3rem;
  margin-right: 0rem;
}
.Spanish {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
  margin-top: -3rem;
  margin-right: 0rem;
}