.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 80, 80);
    background-size: cover;
}

.Background-projects {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
    background-image: url('../assets/project.png');
    background-size: cover;
}

.projects-header {
    font-size: 6rem;
    color: orangered;
    margin-left: 8rem;
    margin-top:4rem;
}
@media only screen and (max-width: 1400px) {
    .projects-header {
        font-size: 4rem; 
    }
  }
.Swiper {
  margin-top: 2rem;
  margin-left: -6rem;

}
.mySwiper {
    
    width: 90%;
    height: 100%;
    
  }
  .mySwiper img {
    width:92%;
    height: 100%;
   
    border: 5rem solid rgba(44, 44, 44, 0.5);
    border-radius: 20px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.);
    
  }